DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=cambiar-por-tu-password-real
DB_NAME=torneos
FLASK_DEBUG=True
FLASK_PORT=5000
SECRET_KEY=cambiar-por-una-clave-larga-random
INTERNAL_API_KEY=cambiar-por-una-clave-larga-random-igual-a-la-del-frontend
